*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
main{
  width: 100%;
}
section{
  width: 80%;
  margin: 0 auto;
  background: rgba(20, 70, 80, 0.6);
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0.1em 0.1em 1em 0.1em #999;
}
form input{
  display: block;
  height: 30px;
  width: 70%;
  margin-bottom: 2px;
}
#male, #female, #others{
  height: 20px;
  width: 20px;
}
form input::focus{
  border-bottom: 2px solid #005;
}
h3{
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}
button{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0.1em 0.1em 1em 0.1em #333;
}