*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 15px;
  background: hsla(0, 0%, 100%, 0.75);
  
  }
main{
  display: flex;
  width: 70%;
  margin: 25% auto;
  align-items: center;
  justify-content: center;
}
#grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main div{
  
}
p{
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 30px;
  line-height: 1.3rem;
}
h2{
  color: hsl(0, 0%, 95%);
  margin-bottom: 10px;
}
#a{
  background: hsl(31, 77%, 52%);
  padding: 10px;
}
#b{
  background: hsl(184, 100%, 22%);
  padding: 10px;
}
#c{
  background: hsl(179, 100%, 13%);
  padding: 10px;
}
button{
  background: hsl(0, 0%, 95%);
  padding: 10px;
  border-radius: 20px;
}
@media only screen and (max-width: 600px) {
  main{
    width: 90%;
  }
}